.button-group-button {
    background-color: #66b3ff;
}

.button-group-button:hover {
    background-color: #007bff;
}

#button-high-score {
    background-color: #ff9e00;
}

#button-high-score:hover {
    background-color: #e67e00;
}

.space-between{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    font-size: 1rem;
}

.solution-word-button {
    margin-bottom: 15px;
}

.favorite-on {
    color: red;
}

.favorite-off {
    color: #999;
}

#button-favorite-reveal-card {
    position: absolute;
    top: 8px;
    left: 8px;
    background: none;
    border: none;
    font-size: 24px;
    outline: none;
}

/* Delete-Button */
#button-delete {
    background-color: #ff9999;
}

#button-delete:hover {
    background-color: #d32f2f;
}

/* Aktiv- und Offline-Buttons */
#active-button {
    background-color: #66bb6a;
}

#active-button:hover {
    background-color: #388e3c;
}

#inactive-button {
    background-color: #999;
}

#inactive-button:hover {
    cursor: default;
}

.more-space {
    margin: 20px;
}

.button-with-clicks {
    background-color: #F6DC43/* Violett */
}

.button-with-clicks:hover {
    background-color: #FCC737; /* Dunkleres Violett beim Hover */
}

.button-over-time {
    background-color: #9c27b0; /* Türkis / Cyan */
}

.button-over-time:hover {
    background-color: #7b1fa2 /* Dunkleres Türkis beim Hover */
}

#disabled-button{
    cursor: default;
    pointer-events: none;
}
#disabled-button:hover{
    background-color: inherit;
}